<div class="container-fluid">
    <h2 class="mt-4">Clients</h2>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Registry</li>
    </ol>
    <div class="container">
        <form #clientForm = "ngForm" (ngSubmit) = "onSubmit()">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert" *ngIf="success == true">
                        Cliente salvo/atualizado com sucesso.
                    </div>
                    <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                        {{ erro }}
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="client.id">
                <div class="col-md-6 col-sm-3">
                    <div class="form-group">
                        <label>ID:</label>
                        <input type="text" class="form-control" [ngModel]="client.id" name="id" disabled>
                    </div>
                </div>
                <div class="col-md-6 col-sm-3">
                    <div class="form-group">
                        <label>Sign In Date:</label>
                        <input type="text" class="form-control" [ngModel] = "client.signInDate" name="signInDate" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-3">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" [(ngModel)] = "client.name" name="client.name" maxlength="50" placeholder="Name here">
                    </div>
                </div>
                <div class="col-md-6 col-sm-3">
                    <div class="form-group">
                        <label>CPF:</label>
                        <input type="text" [(ngModel)]="client.cpf" name="cpf" maxlength="11" class="form-control">
                    </div>
                </div>
            </div>
            <div class="d-flex row">
                <div class="d-flex justify-content-start col-6">
                    <button type="submit" class="btn btn-danger" routerLink="/clients">
                        <i class="fas fa-caret-left"></i>
                        <span>&nbsp;Return&nbsp;</span>
                    </button>
                </div>
                <div class="d-flex justify-content-end col-6" *ngIf="!client.id">
                    <button type="submit" class="btn btn-success ">
                        <span>Save &nbsp;</span>
                        <i class="fas fa-save"></i>
                    </button>
                </div>
                <div class="d-flex justify-content-end col-6" *ngIf="client.id">
                    <button type="submit" class="btn btn-success ">
                        <span>Update &nbsp;</span>
                        <i class="fas fa-sync-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
